<div class="form-group row">
    <label class="col-2 col-form-label">RUC <span class="text-danger">*</span></label>
    <div class="col-10">
        {{ form_widget(form.ruc, {
            'attr': {
                'class': 'form-control form-control-solid h-auto py-5 px-6',
                'placeholder': 'Ingrese su ruc',
                'autocomplete': 'off',
                'value': ''
            }
        }) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">RAZON SOCIAL</label>
    <div class="col-10">
        {{ form_widget(form.razonsoc, {
            'attr': {
                'class': 'form-control form-control-solid h-auto py-5 px-6',
                'placeholder': 'Ingrese su razon social',
                'autocomplete': 'off',
                'value': ''
            }
        }) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">DIRECCIÓN</label>
    <div class="col-10">
        {{ form_widget(form.direccion, {
            'attr': {
                'class': 'form-control form-control-solid h-auto py-5 px-6',
                'placeholder': 'Ingrese su direccion',
                'autocomplete': 'off',
                'value': ''
            }
        }) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">UBIGEO</label>
    <div class="col-10">
        {{ form_widget(form.ubigeo, {
            'attr': {
                'class': 'form-control form-control-solid h-auto py-5 px-6',
                'placeholder': 'Ingrese su ubigeo',
                'autocomplete': 'off',
                'value': ''
            }
        }) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">TELEFONO</label>
    <div class="col-10">
        {{ form_widget(form.telf, {
            'attr': {
                'class': 'form-control form-control-solid h-auto py-5 px-6',
                'placeholder': 'Ingrese su telefono',
                'autocomplete': 'off',
                'value': ''
            }
        }) }}
    </div>
</div>
<div class="form-group row">
    <label class="col-2 col-form-label">EMAIL</label>
    <div class="col-10">
        {{ form_widget(form.email, {
            'attr': {
                'class': 'form-control form-control-solid h-auto py-5 px-6',
                'placeholder': 'Ingrese su email',
                'autocomplete': 'off',
                'value': ''
            }
        }) }}
    </div>
</div>